{% extends "layout.html" %}

{% block title %}
    Show NOT tElL
{% endblock %}

{% block main %}
    <h1 class="text-bg-light p-3">รђ๏ฬ ภ๏Շ Շєɭɭ</h1>
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1>‎‎‎‎</h1>
            <h1>‎‎‎‎</h1>
            <h1>
                <p class="text-top">Show Not Tell</p>
            </h1>
            <h1>_______________________________________</h1>
            <h5>‎ ‎ ‎ ‎ ‎ ‎ ‎ </h5>
            <h3>{{ show }}</h3>
            <h2>‎‎‎‎‎</h2>
        </div>
        <style>
            .container {
              height: 390px;
              position: relative;
              border: 3px solid green;
            }

            .vertical-center {
              margin: 70;
              position: absolute;
              top: 70%;
              -ms-transform: translateY(50%);
              transform: translateY(50%);
            }
            </style>
            </div>
        <div class="container">
            <div class="vertical-center">
                <div class="btn btn-info">
                    <a href="/Shownottell">
                        <button type="button" class="btn btn-primary btn-lg">Regenerate</button>
                    </a>
                </div>
{% endblock %}
